body {
  font-family: Arial;
  padding: 20px;
}

nav {
  width: 100px;
  height: 100px;
  display: flex;
  text-align: center;
  gap: 20px;
  margin-bottom: 20px;
}

input, button {
  margin: 5px;
}

